*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: coral;
}

.body{
 display: flex;
 justify-content: center;

 margin-top: 50px;
}

.image{
    border-radius: 20px;
    margin-left: 1px;
    height: 230px;
    width: 350px;
    background-image: url("https://thumbs.dreamstime.com/z/white-robot-blue-lights-black-body-suit-generative-ai-white-robot-blue-lights-black-body-suit-generative-ai-ai-307150008.jpg");
    background-size: cover;
}



#btn1{
  display: block;
background-color: rgb(209, 201, 209);
border: 3px solid blueviolet;
padding: 5px;
border-radius: 10px;
margin: 35px;
color: rgb(94, 7, 74);
font-size: 15px;
font-weight: bolder;

}

h2{
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

input{
  width: 250px;
  height: 40px;
  border: 3px solid blue;
  margin-left: 5px;
  font-weight: 600;
  color: rgb(247, 250, 234);
  background: rgb(71, 78, 167);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 30px;
}

input::placeholder{
  color: aliceblue;
}

#btn3 {
  cursor: pointer;
  padding: 11px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(251, 12, 231);
  margin-left: -10px;
  border: 3px solid blue;
}


#btn4 {
  cursor: pointer;
  padding: 11px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(169, 183, 16);
  margin-left: -10px;
  border: 3px solid blue;
}

#history{
  font-weight: bold;
  color: rgb(49, 43, 77);
  margin-left: 10px;
  padding: 5px;
  width: 310px;
  border-radius: 10px;
}